table th, td {
  background-color: aqua;
  padding: 5px;
  margin: 5px;
}


form table tbody td {
  background-color: aquamarine;
}

td {
  background-color: antiquewhite;
}


button { 
  border: none;
  margin: 3px;
  border-radius: 3px;
  background-color: rgb(180, 218, 232);
}

.container{
  margin: 20px auto;
  width: 509px;
}


#submit, #reset{
  background-color: blue;
  padding: 5px;
  margin: 2px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}